[Unit]
Description=Slack Activity Reminder Bot
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=creative
WorkingDirectory=/home/creative/Документы/my-projects/bots-toloka/reminder_bot_toloka
ExecStart=/home/creative/Документы/my-projects/bots-toloka/reminder_bot_toloka/venv/bin/python bot.py
Restart=always
RestartSec=10
StartLimitIntervalSec=0

StandardOutput=journal
StandardError=journal
SyslogIdentifier=slack-reminder-bot

[Install]
WantedBy=multi-user.target
